body {
    font-family: 'Sawarabi Gothic', sans-serif;
}

header {
    width:auto;
    height:70px;
    background-color:#111;
    text-align:center;
    color:#fff;
    box-shadow:5px 5px 5px rgb(90, 90, 90);
}

h1 {
    padding:10px;
}

a.home {
    text-decoration: none;
    color:#fff;
}

h2 {
    text-align:center;
}

p {
    text-indent:1em;
}

p.sites-about {
    border: 3px solid;
    border-color:#111;
    padding:10px;
    border-radius:4px;
}